*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: url('/img/background-img.jpg') no-repeat;
    text-align: center;
}

h3{
    font-size: 30px;
    text-decoration: #eef2f3;
    font-display: center;
}

input{
    border: none;
}

.row{
    text-align: center;
    padding: 10px;    
}

button{
    height: 50px;
    width: 50px;
    margin: 10px 4px;
    border: none !important;
    border-radius: 20%;
}

*:focus{
    outline: 0 !important;
}

#allClear{
    box-shadow: inset 1px 1px 50px #990000;
    border: none;
}

#clear{
    box-shadow: inset 1px 1px 50px #cc6600;
    border:none;
}
#equals{
    box-shadow: inset 1px 1px 50px #006633;
    border:none;
}

#blank{
    visibility: hidden;
}

.calcBG{
    width:280px;
    margin:25vh auto;
}

.screen{
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 2px;
    font-size: 16px;
    font-weight: bold;
    
}